.audience-background {
	.audience-blue      & { background-color: $blue     ; }
	.audience-green	 	& { background-color: $green	 ; }
	.audience-turquoise & { background-color: $turquoise; }
	.audience-blueLight & { background-color: $blueLight; }
	.audience-greenBlue & { background-color: $greenBlue; }
}

.audience-backgroundHover {
	.audience-blue      &:hover { background-color: $blue     ; }
	.audience-green	 	&:hover { background-color: $green	 ; }
	.audience-turquoise &:hover { background-color: $turquoise; }
	.audience-blueLight &:hover { background-color: $blueLight; }
	.audience-greenBlue &:hover { background-color: $greenBlue; }
}

.audience-color {
	.audience-blue      & { color: $blue     ; }
	.audience-green	 	& { color: $green	 ; }
	.audience-turquoise & { color: $turquoise; }
	.audience-blueLight & { color: $blueLight; }
	.audience-greenBlue & { color: $greenBlue; }
}

.audience-colorHover {
	.audience-blue      &:hover { color: $blue     ; }
	.audience-green	 	&:hover { color: $green	 ; }
	.audience-turquoise &:hover { color: $turquoise; }
	.audience-blueLight &:hover { color: $blueLight; }
	.audience-greenBlue &:hover { color: $greenBlue; }
}

.text-blue {
	color: $blue;
}

.infomap-card {
	margin-top: 20px;
	margin-bottom: 10px;
}

.infomap-card-icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	
	margin: 0 auto 5px auto;
	padding: 8px;
	
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 48px;

	border-radius: 50%;
}

.infomap-card-title {
	font-size: 25px;
}

.infomap-card-itemList {
	margin-top: 5px;

	border: 1px solid $gray-light;
	border-radius: 3px;
}

.infomap-card-item:hover {
	color: white;

	.infomap-color-blue & {
		background-color: $blue;
	}
}

.infomap-card-item a {
	display: block;
	width: 100%;
	min-height: 41px;

	color: $gray-light;
	
	line-height: 40px;
}

.infomap-card-item:hover a {
	color: white;
	text-decoration: none;
}

.infomap-card-item .fa {
	color: $gray-light;
	margin-left: 10px;
	margin-right: 10px;
}

.infomap-card-item:hover .fa {
	color: white;
}

.infomap-card-itemBullet {
	float: left;
	width: 30px;
	text-align: center;
}

.infomap-card-itemTitle {
	display: block;
	margin-left: 30px;
}

.infomap-resource {
	position: relative;
	min-height: 130px;

	background-color: $blue;

	border-radius: 5px;
}

.infomap-resource.youtube {
	background-size: cover;
	background-position: 50% 50%;
}

.infomap-resource .fa {
	margin-right: 2px;
}

.youtube .infomap-resource-title {
	background-color: rgba(0, 0, 0, .3);
}

.infomap-resource-title {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;

	display: block;
	padding: 20px 45px 20px 20px;
	
	color: white;
	text-shadow: 0px 0px 3px #000;
	font-size: 20px;
	line-height: 24px;
}

.infomap-resource-title:hover {
	color: white;
}

.infomap-resource-language {
	position: absolute;
	bottom: 10px;
	left: 15px;	
}

.infomap-resource-source {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

/*
 * Topic page
 */
.audienceHeaderIcon {

}

.topic-answer-list {
	margin-left: 20px;
}

.topic-answer {
	margin-bottom: 30px;
	margin-left: 40px;

	position: relative;
	overflow: visible;
}

.topic-answer:before {
	content: "";

	position: absolute;
    left: -40px;
    top: 30px;


	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 6px solid;
	background-color: #FFFFFF;

	.audience-blue      & { border-color: $blue     ; }
	.audience-green	 	& { border-color: $green	; }
	.audience-turquoise & { border-color: $turquoise; }
	.audience-blueLight & { border-color: $blueLight; }
	.audience-greenBlue & { border-color: $greenBlue; }
}

.topic-answer:after {
	content: "";

	position: absolute;
    left: -33px;
    top: 49px;
    bottom: -62px;

    display: block;
    height: auto;
    width: 6px;

	.audience-blue      & { background-color: $blue     ; }
	.audience-green	 	& { background-color: $green	; }
	.audience-turquoise & { background-color: $turquoise; }
	.audience-blueLight & { background-color: $blueLight; }
	.audience-greenBlue & { background-color: $greenBlue; }
}

.topic-design-lineend {
	display: none;
}

.topic-answer-list > :last-child .topic-design-lineend {
	position: absolute;
    bottom: -62px;
    left: -39px;
    
    display: block;
    width: 18px;
    height: 4px;
	
	.audience-blue      & { background-color: $blue     ; }
	.audience-green	 	& { background-color: $green	; }
	.audience-turquoise & { background-color: $turquoise; }
	.audience-blueLight & { background-color: $blueLight; }
	.audience-greenBlue & { background-color: $greenBlue; }
}

.discourse-title {
	padding-top: 15px;
}

.relatedResources-wrapper {
	padding-top: 45px;
}