.audience-background {
	.audience-blue      & { background-color: $blue     ; }
	.audience-green	 	& { background-color: $green	 ; }
	.audience-turquoise & { background-color: $turquoise; }
	.audience-blueLight & { background-color: $blueLight; }
	.audience-greenBlue & { background-color: $greenBlue; }
}

.audience-backgroundHover {
	.audience-blue      &:hover { background-color: $blue     ; }
	.audience-green	 	&:hover { background-color: $green	 ; }
	.audience-turquoise &:hover { background-color: $turquoise; }
	.audience-blueLight &:hover { background-color: $blueLight; }
	.audience-greenBlue &:hover { background-color: $greenBlue; }
}

.audience-color {
	.audience-blue      & { color: $blue     ; }
	.audience-green	 	& { color: $green	 ; }
	.audience-turquoise & { color: $turquoise; }
	.audience-blueLight & { color: $blueLight; }
	.audience-greenBlue & { color: $greenBlue; }
}

.audience-colorHover {
	.audience-blue      &:hover { color: $blue     ; }
	.audience-green	 	&:hover { color: $green	 ; }
	.audience-turquoise &:hover { color: $turquoise; }
	.audience-blueLight &:hover { color: $blueLight; }
	.audience-greenBlue &:hover { color: $greenBlue; }
}

.text-blue {
	color: $blue;
}

.infomap-card {
	margin-top: 20px;
	margin-bottom: 10px;
}

.infomap-card-icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	
	margin: 0 auto 5px auto;
	padding: 8px;
	
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;

	border-radius: 50%;
}

.infomap-card-title {
	font-size: 25px;
}

.infomap-card-itemList {
	margin-top: 5px;

	border: 1px solid $gray-light;
	border-radius: 3px;
}

.infomap-card-item:hover {
	color: white;

	.infomap-color-blue & {
		background-color: $blue;
	}
}

.infomap-card-item a {
	display: block;
	width: 100%;
	min-height: 41px;

	color: $gray-light;
	
	line-height: 40px;
}

.infomap-card-item:hover a {
	color: white;
	text-decoration: none;
}

.infomap-card-item .fa {
	color: $gray-light;
	margin-left: 10px;
	margin-right: 10px;
}

.infomap-card-item:hover .fa {
	color: white;
}

.infomap-card-itemBullet {
	float: left;
	width: 30px;
	text-align: center;
}

.infomap-card-itemTitle {
	display: block;
	margin-left: 30px;
}

.infomap-resource-wrapper {
	position: relative;
}

.infomap-resource {
	background-color: $blue;

	min-height: 190px;

	border-radius: 5px;
}

.infomap-resource-title {
	position: absolute;
	top: 0;
	bottom: 0;

	display: block;
	padding: 20px;
	
	color: white;
	font-size: 20px;
	line-height: 24px;
}

.infomap-resource-title:hover {
	color: white;
}

.infomap-resource-source {
	position: absolute;
	bottom: 20px;
	right: 35px;
}

/*
 * Topic page
 */
.audienceHeaderIcon {

}