$blue: #215bae;
$blue-hover: #083f8f;
$darkblue: #325e9c;

$green: #8db332;

$grey: #575757;
$lightgrey: #7c7c7c;


$blue: #215bad;
$green: #5fb760;
$turquoise: #62c0dc;
$blueLight: #2d94e3;
$greenBlue: #5eb799;