/** navigation **/
.navigation {
	margin-top: rem-calc(32);

	background-color: $blue;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	@media #{$small-only} {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.menu {
	    list-style: none;
	     *zoom: 1;
	     position: relative;
	     margin-bottom: 0;
	     left: 5%;

	     @media #{$small-only} {
			width: 100%;
			left: 0;
			margin-left: 0;
			display: none;
	     }

	     &:before,
	     &:after {
		    content: " ";
		    display: table;
	     }

	     &:after {
	     	clear: both;
	     }
	}

	.menu ul {
		margin-left: 0;
	}

	.menu li {
		position: relative;
		list-style: none;
	}

	.menu > li.hover > ul {
		left: 0;

		@media #{$small-only} {
			position: static;
		}
	}

	.menu li li.hover ul {
		left: 100%;
		top: 0;
	}

	a {
		*zoom: 1;
		padding-left: rem-calc(32);
		padding-right: rem-calc(32);

		color: #FFFFFF;
		line-height: 2.2;

		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}

	.menu > li:last-child a {
		border-right: 1px solid #657eaf;
	}

	.menu > li {
		float: left;
		border-left: 1px solid #657eaf;

		@media #{$small-only} {
			float: none;
			border-left: 0;
		}
	}

	.menu > li > a {
		display: block;
		cursor: pointer;
	}

	.menu li ul {
		position: absolute;
		left: -99999px;
		z-index: 100;
		width: 200%;
	}

	.menu li ul.wide {
		width: 300%;
	}

	.menu li li a {
		display: block;
		background: $blue-hover;
		position: relative;
		z-index: 100;
	}

	.menu li li a:hover {
		background-color: lighten($blue, 10);
	}

	.menu li li li a {
		background: yellow;
		z-index: 200;
		border-top: 1px solid #FFFFFF;
	}

	a:hover, li.current-menu-item, li.hover {
		background-color: $blue-hover;
	}

	.toggle-menu {
		display: none;
		i {
			float: right;
			padding-top: rem-calc(8);
		}

		@media #{$small-only} {
			display: block;
		}
	}
}