rslides-wrapper {
    position: relative;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides .slideshow {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  }

.rslides > div:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height: 420px;
  border: 0;
  }

.rslider-buttons_tabs {
  text-align: center;

  position: absolute;
  left: 49%;
  bottom: -10px;
  z-index: 20;    
}

.rslider-buttons_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.rslider-buttons_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.rslider-buttons_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

$slideshow-height: rem-calc(420);
.slideshow {
    
    li {
        list-style-type: none;
        text-align: center;
    }

    .slide {
        position: relative;
        display: table;
        margin: 0 auto;

        .card {
            position: absolute;
            z-index: 10;
            bottom: 1em;
            left: -5em;

            width: 60%;
            background-color: #FFFFFF;
            padding: 0 0.5em;
        }

        .card a { color: #FFFFFF; }
        .card a:hover { text-decoration: underline; }
        .card h1 {
            color: #FFFFFF;
            font-size: rem-calc(18);
            text-align: left;
        }

        .card p {
            color: #FFFFFF;
            font-size: rem-calc(16);
            text-align: left;
            line-height: 1.3;
        }

        .overlay {
            width: 100%;
            height: $slideshow-height;
            position: absolute;
        }

        img { 
            height: $slideshow-height;
        } 
    }
}
