.ssba { }
.ssba img		
{ 	
	width: 35px !important;
	padding: 6px;
	border:  0;
	box-shadow: none !important;
	display: inline !important;
	vertical-align: middle;
}
.ssba, .ssba a		
{
	text-decoration:none;
	background: none;
	font-family: Indie Flower;
	font-size: 	20px;
	
	
}

.really_simple_twitter_widget {
	padding-left: 20px;
}